setup_env_local.sh
.vscode/
build
builddir
install
wheelhouse
cibuildwheel_run_*.log
build_full.log
build_output.log
*.pyc
*.egg-info/
*~
\#*#
*.so
*.xtc
*.h5
*.ami
*.xtc2
p[0-7].cnf.*
*.ipynb_checkpoints
!psana/psana/tests/test_data/**/*.xtc2
subprojects/cusz/
subprojects/cuszp/
subprojects/lc/
subprojects/pfpl/
subprojects/sleek/
