language: cpp
sudo: required
dist: trusty
compiler:
  - gcc

# Install system dependencies.
before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-7 libibverbs-dev librdmacm-dev
  - export CXX=g++-7 CC=gcc-7

# Install libfabric.
  - wget https://github.com/ofiwg/libfabric/releases/download/v1.5.2/libfabric-1.5.2.tar.bz2
  - tar xfj libfabric-1.5.2.tar.bz2
  - cd libfabric-1.5.2
  - ./configure --enable-verbs
  - make -j2
  - sudo make install
  - cd ..

# Install Conda environment.
install:
  - export CONDA_PREFIX=$PWD/conda
  - export REL_DIR=$CONDA_PREFIX/myrel
  - export PATH=$REL_DIR/bin:$CONDA_PREFIX/bin:$PATH
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash Miniconda3-latest-Linux-x86_64.sh -b -p $CONDA_PREFIX
  - conda update -y conda
  - conda create -y -p $REL_DIR python=3.5 cmake h5py ipython numpy
  - conda install -y --channel lcls-rhel7 cpsw yaml-cpp
  - conda install -y --channel lightsource2-tag epics-base

# Build and test.
script:
  - mkdir build
  - cd build
  - cmake ..
  - make -j2
  - make test
