if not platform: platform = '1'
hutch, user, password = ('tst', 'tstopr', 'pcds')

epics_env = 'EPICS_PVA_ADDR_LIST=172.21.151.255'

collect_host = 'drp-tst-dev009'

# procmgr FLAGS: <port number> static port number to keep executable
#                              running across multiple start/stop commands.
#
# HOST       UNIQUEID      FLAGS  COMMAND+ARGS
# list of processes to run
#   required fields: id, cmd
#   optional fields: host, port, flags, conda, env, rtprio
#     flags:
#        'x' or 'X'  -> xterm: open small or large xterm for process console
#        's'         -> stop: sends ctrl-c to process
#        'u'         -> uniqueid: use 'id' as detector alias (supported by acq, cam, camedt, evr, and simcam)

procmgr_config = [
 {                        id:'groupca',flags:'s', env:epics_env, cmd:'groupca DAQ:LAB2 2 1'},
 {                        id:'procstat', flags:'p', cmd:'procstat p'+platform+'.cnf.last'},
 { host: collect_host,    id:'control', flags:'sxpu', env:epics_env, cmd:'control -v -C BEAM -P '+hutch+' -B DAQ:LAB2 -x 2 --user '+user+' --password '+password},
 {                        flags:'p', id:'control_gui', cmd:'control_gui -E -t 30000 -l WARNING -H '+collect_host},
 # trigger event builder
 { host: 'drp-tst-dev009', id:'teb1', flags:'pu', cmd:'teb -P '+hutch+' -C '+collect_host},
 # meb
 { host: 'drp-tst-dev009', id:'meb1', flags:'spu', cmd:'monReqServer -P '+hutch+' -d -q 4 -C '+collect_host},
 # ...drp: loopback on port 5007
 { host: 'drp-tst-dev009', id:'encoder_0', flags:'sxpu', cmd:'drp_udp -o /cds/home/c/caf/data -L 5007    -P tst -d /dev/datadev_1 -P '+hutch+' -C '+collect_host}
 # ...drp: verbose
 #{ host: 'drp-tst-dev009', id:'encoder_0', flags:'sxpu', cmd:'drp_udp -o /cds/home/c/caf/data         -v -P tst -d /dev/datadev_1 -P '+hutch+' -C '+collect_host}
 #  ...drp: loopback on port 5007 AND verbose
 #{ host: 'drp-tst-dev009', id:'encoder_0', flags:'sxpu', cmd:'drp_udp -o /cds/home/c/caf/data -L 5007 -v -P tst -d /dev/datadev_1 -P '+hutch+' -C '+collect_host}
]
