bin_path  = '/reg/neh/home/weaver/lcls2/psdaq/build/'
bins_path = '/reg/neh/home/weaver/lcls2/psdaq/psdaq/scripts/'

platform = '1'
username = 'lcls2'

#epics_host = daq_tst_dev02
epics_host = 'daq-tst-dev02'

epics_env = 'EPICS_PVA_ADDR_LIST=172.21.151.255'

shelf = '2'
ip_addr = '10.0.'+shelf
#qflags = 'sx'
qflags = 's'

cam_size = 320

# procmgr FLAGS: <port number> static port number to keep executable
#                              running across multiple start/stop commands.
#                "X" open xterm
#                "s" send signal to child when stopping
#
# HOST       UNIQUEID      FLAGS  COMMAND+ARGS
# list of processes to run
#   required fields: id, cmd
#   optional fields: host, port, flags
#     flags:
#        'x' or 'X'  -> xterm: open small or large xterm for process console
#        's'         -> stop: sends ctrl-c to process
#        'u'         -> uniqueid: use 'id' as detector alias (supported by acq, cam, camedt, evr, and simcam)

procmgr_config = [
 { host: 'daq-tst-dev06', id:'camcfg-us0', flags:'s', cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/cLoopTest -T 0x80 -s %d'%cam_size+' -d /dev/pgpcam1 -L 0xf0'},
 { host: 'daq-tst-dev06', id:'camcfg-us1', flags:'s', cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/cLoopTest -T 0x80 -s %d'%cam_size+' -d /dev/pgpcam0 -L 0xf0'},
 { host: 'daq-tst-dev06', id:'camcfg-us2', flags:'s', cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/cLoopTest -T 0x80 -s %d'%cam_size+' -d /dev/pgpcam2 -L 0xf0'},
 { host: 'daq-tst-dev06', id:'camcfg-us3', flags:'s', cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/cLoopTest -T 0x80 -s %d'%cam_size+' -d /dev/pgpcam5 -L 0xf0'},
 { host: 'daq-tst-dev06', id:'camcfg-us46', flags:'s', cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/cLoopTest -T 0x80 -s %d'%cam_size+' -d /dev/pgpcam4 -L 0xff'},
 { host: 'daq-tst-dev04', id:'camcfg-us5', flags:'s', cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qLoopTest -T 0x80 -s %d'%cam_size+' -d /dev/pgpdaq0 -L 0x0f'},

 {                       id:'partca-'+platform ,flags:'s', cmd:bins_path+'/launch_py '+bins_path+'/partca.py DAQ:LAB2:PART:'+platform},
 {                       id:'modca'  ,flags:'s', cmd:bins_path+'/launch_py '+bins_path+'/xpmca.py DAQ:LAB2:XPM:'+shelf},
 {                       id:'deadca-'+platform  ,flags:'s', cmd:bins_path+'/launch_py '+bins_path+'/deadca.py DAQ:LAB2 '+platform+' '+shelf},
 {                       id:'dtica'  ,flags:'s', cmd:bins_path+'/launch_py '+bins_path+'/dtica.py DAQ:LAB2:DTI:'+shelf},

 { host: 'drp-tst-acc06', id:'qRead-ds0' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq1 -c 0 -L 0xf -P 8' },
 { host: 'drp-tst-acc05', id:'qRead-ds1' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq1 -c 0 -L 0xf -P 8' },
# drp-tst-acc04 has problems with /dev/pgpdaq1 pcie comm
 { host: 'drp-tst-acc04', id:'qRead-ds2' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq0 -c 0 -L 0xf -P 8' },
 { host: 'drp-tst-acc03', id:'qRead-ds3' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq1 -c 0 -L 0xf -P 8' },
 { host: 'drp-tst-acc01', id:'qRead-ds4' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq1 -c 0 -L 0xf -P 8' },
 { host: 'daq-tst-dev04', id:'qRead-ds5' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq1 -c 0 -L 0xf -P 8' },
 { host: 'daq-tst-dev01', id:'qRead-ds6' ,flags:qflags, cmd:bin_path+'psdaq/pgp/pgpGen4Daq/app/qRead -d /dev/pgpdaq0 -c 0 -L 0xf -P 8' },

## procstat
 {                       id:'procstat',    flags:'s',    env:'LD_LIBRARY_PATH=/reg/g/pcds/package/python-2.5.2/lib:/reg/g/pcds/package/qt-4.3.4_x86_64/lib PATH=/reg/g/pcds/package/python-2.5.2/bin:/reg/g/pcds/package/qt-4.3.4_x86_64/bin: PYTHONPATH=', cmd:'/reg/g/pcds/dist/pds/tools/procmgr/procstat.py -t '+username+' -e0 -n none -p '+platform+' p'+platform+'.cnf.last'},
  ]
