platform = '2'
username = 'lcls2'
expname  = 'expname'
expnum   = 'expnum'

epics_env = 'EPICS_PVA_ADDR_LIST=172.21.42.255'
conda_rel = 'ps-2.0.1'

shelf = '2'
ip_addr = '10.0.'+shelf
collect_host = 'drp-tst-acc06'

# -o /ffb01/weninc
drp_cmd = 'drp -D AreaDetector -l 0x1 -d /dev/datadev_0 -C ' + collect_host

procmgr_config = [
 { id:'partca-' + platform ,flags: 's', conda:conda_rel, env:epics_env, cmd:'partca DAQ:LAB2:PART:'+platform},
 { id:'procstat', flags: 'sp', conda:conda_rel, cmd:'procstat -t '+username+' -e0 -n none p'+platform+'.cnf.last'},
 { id:'modca1', flags: 's', conda:conda_rel, env:epics_env, cmd:'modca DAQ:LAB2:XPM:1'},
 { id:'modca2', flags: 's', conda:conda_rel, env:epics_env, cmd:'modca DAQ:LAB2:XPM:2'},
 { host: collect_host, id: 'control', flags:'sxpu', conda:conda_rel, env:epics_env, cmd:'control -v -C BEAM -B DAQ:LAB2 -x 2 -P TMO'},
 { id:'control_gui', flags: 'xp', conda:conda_rel, cmd:'control_gui -H '+collect_host},

 { host: 'drp-tst-dev001', id:'teb1', flags:'sxpu', conda:conda_rel, cmd:'teb -C ' + collect_host},

 { host: 'drp-tst-dev002', id:'cam_2',  flags:'spxu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev003', id:'cam_3',  flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev004', id:'cam_4',  flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev005', id:'cam_5',  flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev007', id:'cam_7',  flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev009', id:'cam_9',  flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev011', id:'cam_11', flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev012', id:'cam_12', flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev013', id:'cam_13', flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev014', id:'cam_14', flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev015', id:'cam_15', flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev017', id:'cam_17', flags:'spu', conda:conda_rel, cmd: drp_cmd },
 #{ host: 'drp-tst-dev018', id:'cam_18', flags:'spu', conda:conda_rel, cmd: drp_cmd },

 #{ host: 'drp-tst-dev019', id:'meb1', flags:'sxpu', conda:conda_rel, cmd:'monReqServer -P Test -d -q 4 -C '+collect_host},
]
