if not platform: platform = '7'

ld_lib_path = f'LD_LIBRARY_PATH={CONDA_PREFIX}/epics/lib/linux-x86_64:{CONDA_PREFIX}/pcas/lib/linux-x86_64'
epics_env = 'EPICS_PVA_ADDR_LIST=172.21.151.255'+' '+ld_lib_path

hutch = 'tst'

drp_nodes = []

pyxpm_optsdb = '--db https://pswww.slac.stanford.edu/ws-auth/devconfigdb/ws/,configDB,tst,PROD -P DAQ:LAB2:XPM:%d'
pyxpm_opts = '-P DAQ:LAB2:XPM:%d'

base_host = 'daq-tst-dev02'
prom_dir = '/cds/group/psdm/psdatmgr/etc/config/prom' # Prometheus

# procmgr FLAGS: <port number> static port number to keep executable
#                              running across multiple start/stop commands.
#                "X" open xterm
#                "s" send signal to child when stopping
#
# HOST       UNIQUEID      FLAGS  COMMAND+ARGS
# list of processes to run
#   required fields: id, cmd
#   optional fields: host, port, flags, conda, env, rtprio
#     flags:
#        'x' or 'X'  -> xterm: open small or large xterm for process console
#        's'         -> stop: sends ctrl-c to process
#        'u'         -> uniqueid: use 'id' as detector alias (supported by acq, cam, camedt, evr, and simcam)

procmgr_config = [
 { host: 'daq-tst-dev02',  id:'pyxpm-2' , port:'29451', flags:'s', env:epics_env, cmd:'pykcuxpm --dev /dev/datadev_0 -G '+pyxpm_optsdb%2},
{ host: 'daq-tst-dev06',  id:'pyxpm-10' , port:'29453', flags:'s', env:epics_env, cmd:'pykcuxpm --dev /dev/datadev_2 -G '+pyxpm_optsdb%10},
{ host: 'daq-tst-dev06',  id:'pyxpm-11' , port:'29454', flags:'s', env:epics_env, cmd:'pykcuxpm --dev /dev/datadev_3 -G '+pyxpm_optsdb%11},

## EPICS camera
# { host: base_host,  id:'pvcamcas', port:'29465', flags:'s', env:epics_env, cmd:'campvs -P DAQ:LAB2:PVCAM'},
# { host: 'daq-tst-dev03',  id:'pvcam', port:'29466', flags:'s', env:epics_env, cmd:'pvcam -p DAQ:LAB2:PVCAM -e 40'},

## EPICS PV exporter
 {                   id:'pvrtmon-2',  port:'29467', flags:'s', env:epics_env, cmd:f'epics_exporter -H {hutch} -M {prom_dir} -P DAQ:LAB2:XPM:2 RunTime Run NumL0Acc L0AccRate NumL0Inp L0InpRate DeadFrac'},
#{                   id:'pvrtmon-3',  port:'29468', flags:'s', env:epics_env, cmd:f'epics_exporter -H {hutch}-3 -M {prom_dir} -P DAQ:LAB2:XPM:3 RunTime Run NumL0Acc L0AccRate NumL0Inp L0InpRate DeadFrac'},
  ]

