platform = '7'
username = 'lcls2'
expname  = 'expname'
expnum   = 'expnum'

epics_host = 'daq-tst-dev02'

conda_rel = 'ps-2.0.5'
epics_env = 'EPICS_PVA_ADDR_LIST=172.21.151.255'

shelf = '2'
ip_addr = '10.0.'+shelf

# procmgr FLAGS: <port number> static port number to keep executable
#                              running across multiple start/stop commands.
#                "X" open xterm
#                "s" send signal to child when stopping
#
# HOST       UNIQUEID      FLAGS  COMMAND+ARGS
# list of processes to run
#   required fields: id, cmd
#   optional fields: host, port, flags, conda, env, rtprio
#     flags:
#        'x' or 'X'  -> xterm: open small or large xterm for process console
#        's'         -> stop: sends ctrl-c to process
#        'u'         -> uniqueid: use 'id' as detector alias (supported by acq, cam, camedt, evr, and simcam)

procmgr_config = [
# { host: epics_host,  id:'dticas' , port:'29453', flags:'s', conda:conda_rel, env:epics_env, cmd:'dticas -P DAQ:LAB2:DTI:'+shelf},
# { host: epics_host,  id:'dtiioc-103', port:'29455', flags:'s', conda:conda_rel, env:epics_env, cmd:'dtiPVs -a '+ip_addr+'.103 -P DAQ:LAB2:DTI:'+shelf+':3' },
# { host: epics_host,  id:'dtiioc-104', port:'29454', flags:'s', conda:conda_rel, env:epics_env, cmd:'dtiPVs -a '+ip_addr+'.104 -P DAQ:LAB2:DTI:'+shelf+':4' },
# { host: epics_host,  id:'dtiioc-105', port:'29456', flags:'s', conda:conda_rel, env:epics_env, cmd:'dtiPVs -a '+ip_addr+'.105 -P DAQ:LAB2:DTI:'+shelf+':5' },
# { host: epics_host,  id:'dtiioc-106', port:'29457', flags:'s', conda:conda_rel, env:epics_env, cmd:'dtiPVs -a '+ip_addr+'.106 -P DAQ:LAB2:DTI:'+shelf+':6' },

 { host: epics_host,  id:'pyxpm-2'  , port:'29451', flags:'s', conda:conda_rel, env:epics_env, cmd:'pyxpm --ip 10.0.2.102 -P DAQ:LAB2:XPM:2'},
 { host: epics_host,  id:'pyxpm-3'  , port:'29452', flags:'s', conda:conda_rel, env:epics_env, cmd:'pyxpm --ip 10.0.1.103 -P DAQ:LAB2:XPM:1'},

## BLD service
 { host: epics_host,  id:'hpsdbuscas', port:'29463', flags:'s', conda:conda_rel, env:epics_env, cmd:'hpsdbuscas -P DAQ:LAB2:HPSEX'},
 { host: epics_host,  id:'bldcas'    , port:'29464', flags:'s', conda:conda_rel, env:epics_env, cmd:'bldcas -P DAQ:LAB2'},
 { host: 'drp-tst-dev021',  id:'hpsbldsvc' , port:'29465', flags:'s', conda:conda_rel, env:epics_env, cmd:'hpsBldServer -a 10.0.3.105 -i eno1 -n DAQ:LAB2:HPSEX -p 0x1e0'},
## EPICS camera
 { host: epics_host,  id:'pvcamcas', port:'29465', flags:'s', conda:conda_rel, env:epics_env, cmd:'campvs -P DAQ:LAB2:PVCAM'},
 { host: 'daq-tst-dev03',  id:'pvcam', port:'29466', flags:'s', conda:conda_rel, env:epics_env, cmd:'pvcam -p DAQ:LAB2:PVCAM'},

## procstat
 {                    id:'procstat', flags:'p', conda:conda_rel, cmd:'procstat -t '+username+' -e0 -n none p'+platform+'.cnf.last'},
  ]
