if not platform: platform = '7'

ld_lib_path = f'LD_LIBRARY_PATH={CONDA_PREFIX}/epics/lib/linux-x86_64:{CONDA_PREFIX}/pcas/lib/linux-x86_64'
epics_env = 'EPICS_PVA_ADDR_LIST=172.21.159.255'+' '+ld_lib_path

pyxpm_optsdb = '--db https://pswww.slac.stanford.edu/ws-auth/configdb/ws/,configDB,tmo,XPM -P DAQ:NEH:XPM:%d'
#pyxpm_optsdb = '-P DAQ:NEH:XPM:%d'

base_host = 'drp-srcf-mon001'
fee_host  = 'drp-neh-ctl002'
prom_dir = '/cds/group/psdm/psdatmgr/etc/config/prom' # Prometheus

procmgr_config = [
 { host: base_host, id:'pyxpm-0'  , port:'29451', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.1.102 '+pyxpm_optsdb%0},   # XTPG SXR
 { host: base_host, id:'pyxpm-7'  , port:'29458', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.1.107 '+pyxpm_optsdb%7},   # XTPG HXR
 { host: base_host, id:'pyxpm-3'  , port:'29452', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.2.103 '+pyxpm_optsdb%3},   # RIX XPM
 { host: base_host, id:'pyxpm-1'  , port:'29459', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.2.102 '+pyxpm_optsdb%1},   # RIX XPM
 { host: base_host, id:'pyxpm-5'  , port:'29456', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.1.104 '+pyxpm_optsdb%5},   # RIX XPM
 { host: base_host, id:'pyxpm-2'  , port:'29453', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.3.102 '+pyxpm_optsdb%2},   # TMO XPM
 { host: base_host, id:'pyxpm-4'  , port:'29454', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.3.103 '+pyxpm_optsdb%4},   # TMO XPM
 { host: base_host, id:'pyxpm-6'  , port:'29455', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.1.105 '+pyxpm_optsdb%6},   # TMO XPM
 { host: fee_host, id:'pyxpm-fee', port:'29457', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.5.102 '+pyxpm_optsdb%10},  # FEE XPM
## EPICS PV exporter
 { host: base_host, id:'pvrtmon',  port:'29460', flags:'s', env:epics_env, cmd:f'epics_exporter -H tmo -I xpm-2 -M {prom_dir} -P DAQ:NEH:XPM:2 -G Us:RxLinkUp RunTime Run NumL0Acc L0AccRate NumL0Inp L0InpRate DeadFrac'},
 { host: base_host, id:'pvrtmon-rix',  port:'29461', flags:'s', env:epics_env, cmd:f'epics_exporter -H rix -I xpm-3 -M {prom_dir} -P DAQ:NEH:XPM:3 -G Us:RxLinkUp RunTime Run NumL0Acc L0AccRate NumL0Inp L0InpRate DeadFrac'},
 { host: fee_host, id:'pvrtmon-fee',  port:'29462', flags:'s', env:epics_env, cmd:f'epics_exporter -H tst -I xpm-10 -M {prom_dir} -P DAQ:NEH:XPM:10 -G Us:RxLinkUp RunTime Run NumL0Acc L0AccRate NumL0Inp L0InpRate DeadFrac'},
 { host: base_host, id:'pvrtmon-4',  port:'29463', flags:'s', env:epics_env, cmd:f'epics_exporter -H tmo -I xpm-4 -M {prom_dir} -P DAQ:NEH:XPM:4 -G Us:RxLinkUp DeadFrac'},
 { host: base_host, id:'pvrtmon-5',  port:'29464', flags:'s', env:epics_env, cmd:f'epics_exporter -H rix -I xpm-5 -M {prom_dir} -P DAQ:NEH:XPM:5 -G Us:RxLinkUp DeadFrac'},
 { host: base_host, id:'pvrtmon-6',  port:'29465', flags:'s', env:epics_env, cmd:f'epics_exporter -H tmo -I xpm-6 -M {prom_dir} -P DAQ:NEH:XPM:6 -G Us:RxLinkUp DeadFrac'},
 { host: base_host, id:'pvrtmon-0',  port:'29466', flags:'s', env:epics_env, cmd:f'epics_exporter -H tst -I xpm-0 -M {prom_dir} -P DAQ:NEH:XPM:0 -G Us:RxLinkUp DeadFrac'},
]

#xpmpva DAQ:NEH:XPM:0 DAQ:NEH:XPM:1 DAQ:NEH:XPM:2 DAQ:NEH:XPM:3 DAQ:NEH:XPM:4 DAQ:NEH:XPM:5 DAQ:NEH:XPM:6 