if not platform: platform = '7'

ld_lib_path = f'LD_LIBRARY_PATH={CONDA_PREFIX}/epics/lib/linux-x86_64:{CONDA_PREFIX}/pcas/lib/linux-x86_64'
epics_env = 'EPICS_PVA_ADDR_LIST=172.21.36.255'+' '+ld_lib_path

pyxpm_optsdb = '--db https://pswww.slac.stanford.edu/ws-auth/configdb/ws/,configDB,ued,XPM -P DAQ:UED:XPM:%d'
#pyxpm_optsdb = '-P DAQ:UED:XPM:%d'

base_host = 'drp-ued-cmp001'
prom_dir = '/cds/group/psdm/psdatmgr/etc/config/prom/ued' # Prometheus

procmgr_config = [
# { host: base_host, id:'pyxpm-0' , port:'29451', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.1.104 '+pyxpm_optsdb%0}, # XTPG
 { host: base_host, id:'pyxpm-0' , port:'29451', flags:'s', env:epics_env, cmd:'pyxpm --ip 10.0.1.104 '+pyxpm_optsdb%0+' -L'}, # XTPG
## EPICS PV exporter
 { host: base_host, id:'pvrtmon',  port:'29460', flags:'s', env:epics_env, cmd:f'epics_exporter -H ued -M {prom_dir} -P DAQ:UED:XPM:0 -G Cu:FIDs,Cu:RxDspErrs RunTime Run NumL0Acc L0AccRate NumL0Inp L0InpRate DeadFrac'},
]

