name: Build LCLS-II
on:
  schedule:
    - cron: '0 5 * * *'  # once per day at midnight ET
  workflow_dispatch:

jobs:
  build-lcls-ii:
    runs-on: ubuntu-latest
    env:
      LCLS_CALIB_HTTP: "https://pswww.slac.stanford.edu/calib_ws/"
    defaults:
      run:
        shell: bash -el {0}  # login shell for conda activation
    steps:
      - name: Checkout repo with submodules
        uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: build-conda-env
          channels: lcls-ii, conda-forge
          environment-file: .daq_20250402.txt

      - name: Sanity Check
        run: conda list

      - name: Build
        run: ./build_all.sh -c {Release, Debug, RelWithDebInfo} -p {develop, install}
